.mainContainer {
  padding: 20px;
  background-color: #0b0e14;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer ::-webkit-scrollbar {
  display: none;
}
